.card-image {
    height: 150px;
    /* width: 100%; */
}

.btn-container {
    display: flex;
    justify-content: center;
}
.btn-space {
    margin-left: 10px;
}

.celsius {
    font-size: 30px;
    font-weight: bolder;
}
.temp {
    font-size: 25px;
    font-weight: bold;
}
/* .title-bg {
    background-color: royalblue;
    border-radius: 50%;
} */