.card-image {
    height: 150px;
    /* width: 100%; */
}
/* .card-container {
    min-width: 228px;
} */
.btn-container {
    display: flex;
    justify-content: center;
}
.btn-space {
    margin-left: 10px;
}

/* .title-bg {
    background-color: royalblue;
    border-radius: 50%;
} */